.perfil{

 width: 25px;
 height: 25px;

}

.login{
    margin-left: 5px;
    padding: 0px;
    color: azure;
    font-size: 15px;
}

.login:hover {
    color: gray;
  }

.top{
    background-color: #232628;
    color: grey;
   
 
}


.cuenta span{
    color: white;
    font-size: 20px;
}

.head{

    background-color: #232628;
    color:white;
}

.carousel-inner{
    height: 30rem;
}